body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: opacity 2s ease-in-out;
  }
  .content {
    max-width: 600px; 
  }
  .message {
    font-size: 24px; 
    margin-bottom: 20px;
  }

  .hidden {
    opacity: 0;
  }

  a {
    margin: 0 auto;
  }