.gameboy {
  width: 200px;
  height: 350px;
  background-color: #9bbc0f;
  border-radius: 20px;
  border: 6px solid #0f380f;
  position: relative;
}

.screen {
  width: 140px;
  height: 100px;
  background-color: #0f380f;
  position: absolute;
  top: 30px;
  left: 30px;
  border: 2px solid #306230;
}

.buttons {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

.button {
  width: 40px;
  height: 40px;
  background-color: #306230;
  border-radius: 50%;
  display: inline-block;
  margin: 10px;
}

.d-pad {
  width: 80px;
  height: 80px;
  background-color: #306230;
  position: absolute;
  bottom: 60px;
  right: 30px;
}

.d-pad div {
  width: 20px;
  height: 20px;
  background-color: #0f380f;
  position: absolute;
}

.up {
  top: 0;
  left: 30px;
}

.down {
  bottom: 0;
  left: 30px;
}

.left {
  left: 0;
  top: 30px;
}

.right {
  right: 0;
  top: 30px;
}