body {
  background-color: #FFF;
}

.container {  
  background-color: white;
  height: 100vh;
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: 100px 120px 150px 150px;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: center; 
  align-content: center; 
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "playerHealth enemyHealth"
    "status status"
    "playerAvatar enemyAvatar"
    "ground ground";
}

#playerHealButton {
  top: 17px;
}

.attack {
  width: 80px;
  height: 17px;
  border: 1.5px solid white;
  background: rgba(0, 0, 0, 0.7);
  font-size: 7px;
  position: absolute;
  left: 100px;
  color: white;
  text-align: left
}

#ground { 
  overflow: hidden;
  grid-area: ground; 
  border: 3px solid black;
  width: 797px;
  height: 145px;
  position: relative;
}

#groundImg {
  width: 100%;
  height: 100%;
  display: block;
}

.box health-bar{
  grid-area: playerHealth;
  display: flex;
  align-items: center;
  gap: 10px;
}

.health-bar-text {
  font-weight: bold;
  font-size: 14px;
  color: white;
  text-shadow: 2px 2px 4px #000;
}

.health-bar-container {
  background-color: #eee;
  width: 100px;
  height: 12px;
  overflow: hidden;
  border: 1px solid black;
}

.health-bar-fill {
  background-color: #7ddd80;
  height: 100%;
  width: 100%;
  /* border: 1px solid black; */
}

#enemyHealth { 
  grid-area: enemyHealth; 
}

#enemyAvatar {
  grid-area: enemyAvatar;
  width: 170px;
  height: 180px;
  display: flex;
  margin-bottom: 55px;
}

#playerAvatar { 
  grid-area: playerAvatar; 
  display: flex;
  width: 60px;
  height: 50px;
  margin-top: 25%;
}

#status { 
  grid-area: status; 
  text-align: center;
}

p {
  grid-area: status; 
  font-family: "Blaka Ink", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
}

.restart {
  position: relative;
  top: -15px;
  left: 30px;
}

.attack:hover {
  background-color: rgb(214, 214, 214);
}

#acolyteImg {
  width: 50px;
  height: 50px;
}